[submodule "billingProject"]
	path = billingProject
	url = https://github.com/xsin6208/billingSystem.git
[submodule "cowHipHeightProject"]
	path = cowHipHeightProject
	url = https://github.com/xsin6208/cowHipHeightProject.git
